.markdown-content {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    word-break: break-word; /* Ensure normal text wraps */
}

/* Style for code blocks */
.custom-pre {
    background-color: #131313;
    color: #f8f8f2;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
    white-space: pre-wrap; /* Allow code to wrap to next line */
    word-break: break-all; /* Break long words/lines in code */
    max-width: 100%; /* Prevent overflow */
}

/* Inline code */
.custom-code {
    /* background-color: #2d2d2d; */
    color: #f8f8f2;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: monospace;
    word-break: break-all; /* Break long inline code */
}
